<script src="/assets/javascript/trivia.js"></script>
<link rel="stylesheet" href="/assets/css/trivia.css">

<section id="trivia-section">
    <h2>Trivia Questions</h2>
    <div id="trivia-container">
          <div class="carousel">
              <div class="carousel-inner" id="carousel-inner"></div>
              <div class="carousel-nav">
                  <button id="prev-button" class="carousel-button">Previous</button>
                  <button id="next-button" class="carousel-button">Next</button>
              </div>
          </div>
  
    </div>
  </section>